/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/************************************************************* Google Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

/*************************************************************  HTML and Body Reset and basic display settings */

body,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: black;
}

header,
footer {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

/*************************************************************  Nav Bar */

.navbar {
  width: 100%;
  padding: 0;
  text-align: right;
  z-index: 1;
}

/* 'Lava' render from Gimp Software (www.gimp.com) */
.banner-background {
  background: url("/assets/images/full-banner.png") black no-repeat center
    center fixed;
  background-size: cover;
  padding: 0;
}

/* Radial gradient (centre transparent, outer black) */
/* https://www.quirksmode.org/css/images/position.html */
.banner-gradient {
  background: -o-radial-gradient(at top, transparent 0%, black 80%);
  background: radial-gradient(at top, transparent 0%, black 80%);
  padding: inherit;
}

.navbar-brand {
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 4px;
  text-align: center;
  color: #fafafa;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #fafafa;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.primary-link {
  color: #fafafa;
  font-weight: 500;
  letter-spacing: 2px;
}

.active-page {
    color:  rgba(228, 22, 22, 0.75);
    font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: #fafafa;
}

/************************************************************* Headings */

.main-logo {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-text {
  text-align: center;
  font-family: "Staatliches", sans-serif;
  letter-spacing: 6px;

  /* Removing spaces around span elements */
  /* https://stackoverflow.com/questions/25667401/how-to-remove-the-space-between-two-span-tags */
  font-size: 0;
}

.header-red {
  color: rgba(228, 22, 22, 0.75);
  font-size: 4rem;
  letter-spacing: 6px;
}

.header-white {
  color: #fafafa;
  font-size: 4rem;
  letter-spacing: 6px;
}

.header-icon {
  color: #fafafa;
  font-size: 3.5rem;
  letter-spacing: 6px;
}

.red-feature {
  color: rgb(228, 22, 22, 0.75);
}

/************************************************************* Buttons */

.glass-button {
  display: inline-block;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background: none;
  text-decoration: none;
  font-weight: 600;
  border: none;
  border-radius: 25%;
  text-align: center;
}

.glass-button a {
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Button Glow */
/* https://codepen.io/jpost-design/pen/EKZLzK */
/* Double box-shadow */
/* https://css-tricks.com/almanac/properties/b/box-shadow/ */

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75),
      inset 0 0 0px rgb(228, 22, 22, 0.75);
    box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75),
      inset 0 0 0px rgb(228, 22, 22, 0.75);
  }
  40% {
    -webkit-box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
    box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
  }
  60% {
    -webkit-box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
    box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
  }
  100% {
    -webkit-box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75, inset 0 0 0px
          rgb(228, 22, 22, 0.75));
    box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75, inset 0 0 0px
          rgb(228, 22, 22, 0.75));
  }
}

@keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75),
      inset 0 0 0px rgb(228, 22, 22, 0.75);
    box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75),
      inset 0 0 0px rgb(228, 22, 22, 0.75);
  }
  40% {
    -webkit-box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
    box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
  }
  60% {
    -webkit-box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
    box-shadow: 0 0 20px rgb(228, 22, 22, 0.75),
      inset 0 0 10px rgb(228, 22, 22, 0.75);
  }
  100% {
    -webkit-box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75, inset 0 0 0px
          rgb(228, 22, 22, 0.75));
    box-shadow: 0 0 -10px rgb(228, 22, 22, 0.75, inset 0 0 0px
          rgb(228, 22, 22, 0.75));
  }
}

.button-glow {
  -webkit-animation: glowing 5000ms infinite;
  animation: glowing 5000ms infinite;
}

/* Hover.css Effects */
/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/************************************************************* Main Body */

.body-content {
  background: black;
  overflow: auto;
}

.viewport-control {
  height: calc(100% - 225px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/************************************************************* Index Page*/

.main-features {
  padding-top: 35px;
  text-align: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.main-features h1 {
  color: #fafafa;
}

.lower-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-pitch {
  text-align: center;
  background: transparent;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: start;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.lower-screen .row {
  width: 100%;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.main-pitch h2 {
  font-size: 1.5rem;
  margin: 0;
}

.hero-image {
  background: url("/assets/images/hero-image.jpg") no-repeat center center;
  background-size: contain;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/************************************************************* About Page*/

.about-page {
  color: #fafafa;
}

.about-heading {
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-heading h1 {
}

.about-cost .about-image {
  background: url("/assets/images/computer.jpg") no-repeat center center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.about-experts {
}

.about-experts .about-image {
  background: url("/assets/images/experts.jpg") no-repeat center center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.about-computer {
}

.about-computer .about-image {
  background: url("/assets/images/processor.jpg") no-repeat center center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.about-section {
  margin: 0;
  padding-bottom: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-section .row {
  height: 100%;
}

.about-title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-title h2 {
  font-size: 1.5em;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 90%;
  -webkit-box-shadow: 0 0 8px 8px black inset;
          box-shadow: 0 0 8px 8px black inset;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-text {
  text-align: justify;
}

.about-text p {
  font-size: 0.9rem;
}

/************************************************************* Enquire Page*/

.enquire-page {
  color: #fafafa;
}

.enquire-heading {
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/************************************************************* Footer */

.footer {
  /* 'Lava' render from Gimp Software (www.gimp.com) */
  background: url("/assets/images/full-banner.png") black no-repeat center
    center fixed;
  background-size: cover;
  height: 75px;
  padding: 0;
}

/* Radial gradient (centre transparent, outer black) */
/* https://www.quirksmode.org/css/images/position.html */
.footer-gradient {
  background: -o-radial-gradient(at bottom, transparent 0%, black 70%);
  background: radial-gradient(at bottom, transparent 0%, black 70%);
  padding: 0;
}

.footer .row {
  height: inherit;
  width: 100%;
  margin: 0;
}

.personal-logo {
}

.company-logo {
  padding: 0;
}

.socials {
  padding-left: 5px;
  padding-right: 5px;
}

.socials i {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6em;
  color: #fafafa;
}

.personal-logo i,
.personal-logo a {
  color: #fafafa;
}

.personal-logo i:hover,
.personal-logo a:hover {
  color: #fafafa;
  text-decoration: none;
}

.personal-logo,
.company-logo,
.socials {
  text-align: center;
  margin: auto;
  color: #fafafa;
}

.socials-pair-one,
.socials-pair-two {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/************************************************************* Media Queries */

/* Mobile View */

@media only screen and (max-width: 576px) {
  .viewport-control {
    height: calc(100% - 173px);
  }

  .heading-text {
    line-height: 24px;
  }

  .header-red,
  .header-white {
    font-size: 2.5rem;
  }

  .header-icon {
    font-size: 2rem;
  }

  #navbarNavDropdown ul {
    position: absolute;
    right: 0;
  }

  .navbar-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .navbar-nav .nav-item .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
  }

  .navbar-brand {
    padding-left: 60px;
  }

  /* Dropdown Transition */
  /* https://stackoverflow.com/questions/12115833/adding-a-slide-effect-to-bootstrap-dropdown */

  .navbar-collapse .navbar-nav {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-collapse.show .navbar-nav {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
  }
  /*  /Dropdown Transition */

  .lower-screen .row {
    padding-bottom: 75px;
  }

  .main-features {
    padding-top: 35px;
  }

  .main-features h1 {
    font-size: 1.5rem;
  }

  .about-heading {
    padding-bottom: 10px;
  }

  .about-heading h1 {
    font-size: 1.5em;
  }

  .about-text p {
    font-size: 0.8rem;
  }

  .main-pitch h2 {
    font-size: 1rem;
  }

  .about-section {
  }

  .socials i {
    font-size: 1.5em;
    padding-left: 6px;
    padding-right: 6px;
  }

  .socials-pair-one,
  .socials-pair-two {
    display: block;
  }

  .socials-pair-one {
    margin-bottom: 8px;
  }

  /* Radial gradient (centre transparent, outer black) */
  /* https://www.quirksmode.org/css/images/position.html */

  .banner-gradient {
    background: -o-radial-gradient(at top, transparent 0%, black 100%);
    background: radial-gradient(at top, transparent 0%, black 100%);
  }

  .footer-gradient {
    background: -o-radial-gradient(at bottom, transparent 0%, black 90%);
    background: radial-gradient(at bottom, transparent 0%, black 90%);
  }
}

/*  /Mobile View */

/*  Tablet View */

@media only screen and (min-width: 992px) {
  .lower-screen .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .main-pitch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .main-pitch h2 {
    font-size: 1.75rem;
  }

  .hero-image {
    padding-bottom: 0px;
  }

  .about-text p {
    font-size: 1rem;
  }
}

/*  Desktop View */

@media only screen and (min-width: 1200px) {
  .personal-logo {
    font-size: 1.2em;
  }

  .socials i {
    font-size: 1.8em;
  }

  .glass-button a {
    font-size: 1.3em;
  }

  .about-text p {
    font-size: 1.1rem;
  }
}

/* Large Desktop View */

@media only screen and (min-width: 1400px) {
  .main-features h1 {
    font-size: 2.5rem;
  }

  .main-pitch h2 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1.2rem;
  }
}