/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/************************************************************* Google Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap");

/*************************************************************  HTML and Body Reset and basic display settings */

body,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: black;
}

header,
footer {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

/*************************************************************  Nav Bar */

.navbar {
  width: 100%;
  padding: 0;
  text-align: right;
  z-index: 1;
}

/* 'Lava' render from Gimp Software (www.gimp.com) */
.banner-background {
  background: url("../images/banner-background.jpg") black no-repeat center
    center fixed;
  background-size: cover;
  padding: 0;
}

/* Radial gradient (centre transparent, outer black) */
/* https://www.quirksmode.org/css/images/position.html */
.banner-gradient {
  background: -o-radial-gradient(at top, transparent 0%, black 80%);
  background: radial-gradient(at top, transparent 0%, black 80%);
  padding: inherit;
}

.navbar-brand {
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 4px;
  text-align: center;
  color: #fafafa;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: #fafafa;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.primary-link {
  color: #fafafa;
  font-weight: 500;
  letter-spacing: 2px;
}

.active-page {
  color: rgba(228, 30, 30, 0.90);
  font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  color: rgba(228, 30, 30, 0.90);
}

/************************************************************* Headings */

.main-logo {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-text {
  text-align: center;
  font-family: "Staatliches", sans-serif;
  letter-spacing: 6px;

  /* Removing spaces around span elements */
  /* https://stackoverflow.com/questions/25667401/how-to-remove-the-space-between-two-span-tags */
  font-size: 0;
}

.header-red {
  color: rgba(228, 30, 30, 0.90);
  font-size: 4rem;
  letter-spacing: 6px;
}

.header-white {
  color: #fafafa;
  font-size: 4rem;
  letter-spacing: 6px;
}

.header-icon {
  color: #fafafa;
  font-size: 3.5rem;
  letter-spacing: 6px;
}

.red-feature {
  color: rgba(228, 30, 30, 0.90);
}

/************************************************************* Buttons */

.glass-button {
  display: inline-block;
  padding: 8px 9px;
  background: none;
  text-decoration: none;
  font-weight: 600;
  border: none;
  border-radius: 25%;
  text-align: center;
  color: #fafafa;
  letter-spacing: 2px;
 
}

.glass-button:hover {
    text-decoration: none;
    color: #fafafa;
}

/* Button Glow */
/* https://codepen.io/jpost-design/pen/EKZLzK */
/* Double box-shadow */
/* https://css-tricks.com/almanac/properties/b/box-shadow/ */

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90),
      inset 0 0 0px rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90),
      inset 0 0 0px rgba(228, 30, 30, 0.90);
  }
  40% {
    -webkit-box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
  }
  60% {
    -webkit-box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
  }
  100% {
    -webkit-box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90), inset 0 0 0px
          rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90), inset 0 0 0px
          rgba(228, 30, 30, 0.90);
  }
}

@keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90),
      inset 0 0 0px rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90),
      inset 0 0 0px rgba(228, 30, 30, 0.90);
  }
  40% {
    -webkit-box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
  }
  60% {
    -webkit-box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 20px rgba(228, 30, 30, 0.90),
      inset 0 0 10px rgba(228, 30, 30, 0.90);
  }
  100% {
    -webkit-box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90), inset 0 0 0px
          rgba(228, 30, 30, 0.90);
    box-shadow: 0 0 -10px rgba(228, 30, 30, 0.90), inset 0 0 0px
          rgba(228, 30, 30, 0.90);
  }
}

.button-glow {
  -webkit-animation: glowing 5000ms infinite;
  animation: glowing 5000ms infinite;
}

.button-glow:hover {
    color:rgba(228, 30, 30, 0.90);
}


/* Hover.css Effects */
/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/************************************************************* Main Body */

.body-content {
  background: black;
  overflow: auto;
}

.viewport-control {
  height: calc(100% - 225px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/************************************************************* Index Page*/

.main-features {
  padding-top: 25px;
  text-align: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.main-features h1 {
  color: #fafafa;
}

.lower-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-pitch {
  text-align: center;
  background: transparent;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: start;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.lower-screen .row {
  width: 100%;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.main-pitch h2 {
  font-size: 1.5rem;
  margin: 0;
}

.hero-image {
  background: url("../images/hero-image.jpg") no-repeat center center;
  background-size: contain;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/************************************************************* About Page*/

.about-page {
  color: #fafafa;
}

.about-heading {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.about-heading h1 {
}

.about-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about-cost .about-image {
  background: url("../images/computer.jpg") no-repeat center center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.about-experts {
}

.about-experts .about-image {
  background: url("../images/experts.jpg") no-repeat center center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.about-computer {
}

.about-computer .about-image {
  background: url("../images/processor.jpg") no-repeat center center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.about-section {
  margin: 0;
  padding-bottom: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.about-section .row {
  height: 100%;
}

.about-title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-title h2 {
  font-size: 1.5em;
}

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -o-object-fit: cover;
  object-fit: cover;
  height: 90%;
  -webkit-box-shadow: 0 0 8px 8px black inset;
  box-shadow: 0 0 8px 8px black inset;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-text {
  text-align: justify;
}

.about-text p {
  font-size: 0.9rem;
}

/************************************************************* Enquire Page*/

.enquire-page {
  color: #fafafa;
}

.enquire-heading {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
}

.enquire-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  padding: 0;
}

.enquire-wrapper .row {
  margin: 0;
  padding-bottom: 5px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/************************************************************* Enquire Form*/

.enquire-form {
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

fieldset {
  border: 2px #fafafa solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom-color: rgba(228, 30, 30, 0.90);
  border-left-color: rgba(228, 30, 30, 0.90);
  border-radius: 8px;
}

fieldset legend {
  font-size: 0.8rem;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
}

.form-group.row {
  margin-left: 10px;
  margin-right: 10px;
}

.form-control.form-control-sm {
  background: transparent;
  color: #fafafa;
  border-radius: 8px;
}

.form-check.form-check-inline,
.form-check .form-check-input {
  margin-right: 0;
}

/* Changing Placeholder Color */
/* https://www.w3schools.com/howto/howto_css_placeholder.asp */
.form-control.form-control-sm::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fafafa;
  opacity: 0.5;
}
.form-control.form-control-sm::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fafafa;
  opacity: 0.5;
}
.form-control.form-control-sm:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fafafa;
  opacity: 0.5;
}
.form-control.form-control-sm::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fafafa;
  opacity: 0.5;
}
.form-control.form-control-sm::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fafafa;
  opacity: 0.5;
}

textarea.form-control {
  min-width: 80%;
}

.submit-enquiry {
  text-align: center;
}

.submit-enquiry button {
  color: #fafafa;
  margin-bottom: 10px;
}

/* center-align the row of inputs vertically if text of label wraps onto second line  */
.enquire-form .form-group.row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.enquire-wrapper .package-details-section {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  text-align: center;
}

.primary-label {
  text-align: center;
  width: auto;
  font-weight: 600;
}

.sub-label {
  font-size: 0.9rem;
}

p.sub-label {
  padding-top: 10px;
  margin-bottom: 0;
}

.currency {
  padding-right: 5px;
}

/************************************************************* Price Table */

.price-table-heading {
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0;
  color: rgba(228, 30, 30, 0.90);
}

.sub-cell {
  display: block;
  text-align: center;
  color: rgba(228, 30, 30, 0.90);
  letter-spacing: 2px;
  font-weight: 600;
}

.table td,
.table th {
  vertical-align: middle;
  position: relative;
}

.table th {
  font-size: 1em;
}

.table tr th {
  border-top: none;
  border-bottom: none;
  color: #fafafa;
  padding: 8px;
}

.table tr td {
  border-top: none;
  color: rgba(228, 30, 30, 0.90);
  padding: 8px;
}

.table tr td i {
  color: #fafafa;
}

table a {
    text-decoration: none;
    color: #fafafa;
}

table a:hover {
    text-decoration: none;
    color: #fafafa;
}
/* 50% Cell border concept adapted from https://stackoverflow.com/questions/32265322/css-length-of-border-bottom */

.table tr td::after {
  content: " ";
  position: absolute;
  display: block;
  left: 25%;
  width: 50%;
  bottom: 0;
  border-bottom: 2px solid #fafafa;
}

.table tr th::after {
  content: " ";
  position: absolute;
  display: block;
  left: 25%;
  width: 50%;
  bottom: 0;
  border-bottom: 2px solid #fafafa;
}

/* Price Table Modal */

.price-table-modal {
  background: black;
  border: none;
  color: #fafafa;
}

.price-table-modal fieldset {
  padding-bottom: 0px;
}

.modal-content {
  border: none;
}

.price-table-modal .price-table-heading {
  padding-top: 10px;
}

.price-table-modal .table th {
  font-size: 1em;
}

.close-modal-button {
  margin: auto;
  font-weight: 700;
}

.modal-footer {
  border: none;
  padding-top: 0;
}

.modal-link {
  -webkit-text-decoration: underline wavy rgba(228, 30, 30, 0.90);
  text-decoration: underline wavy rgba(228, 30, 30, 0.90);
  color: #fafafa;
}

.modal-link:hover {
  -webkit-text-decoration: underline wavy rgba(228, 30, 30, 0.90);
  text-decoration: underline wavy rgba(228, 30, 30, 0.90);
  color: rgba(228, 30, 30, 0.90);
}

/* Thank You Modal */

.thank-you-modal {
  background: black;
  border: none;
  color: #fafafa;
}

.thank-you-heading {
  padding-top: 25px;
  padding-bottom: 5px;
  margin: 0;
  color: rgba(228, 30, 30, 0.90);
}

.thank-you-body {
    font-weight: 600;
    text-align: center;
}

/************************************************************* Footer */

.footer {
  /* 'Lava' render from Gimp Software (www.gimp.com) */
  background: url("../images/banner-background.jpg") black no-repeat center
    center fixed;
  background-size: cover;
  height: 75px;
  padding: 0;
}

/* Radial gradient (centre transparent, outer black) */
/* https://www.quirksmode.org/css/images/position.html */
.footer-gradient {
  background: -o-radial-gradient(at bottom, transparent 0%, black 70%);
  background: radial-gradient(at bottom, transparent 0%, black 70%);
  padding: 0;
}

.footer .row {
  height: inherit;
  width: 100%;
  margin: 0;
}

.personal-logo {
}

.enquire-footer {
  padding: 0;
}

.socials {
  padding-left: 5px;
  padding-right: 5px;
}

.socials i {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6em;
  color: #fafafa;
}

.personal-logo i,
.personal-logo a {
  color: #fafafa;
}

.personal-logo i:hover,
.personal-logo a:hover {
  color: #fafafa;
  text-decoration: none;
}

.personal-logo,
.enquire-footer,
.socials {
  text-align: center;
  margin: auto;
  color: #fafafa;
}

.socials-pair-one,
.socials-pair-two {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/************************************************************* Media Queries */

/*********** Mobile View */

@media only screen and (max-width: 576px) {
  /* Viewport */
  .viewport-control {
    height: calc(100% - 173px);
  }

  /* Banner */

  /* Radial gradient (centre transparent, outer black) */
  /* https://www.quirksmode.org/css/images/position.html */

  .banner-gradient {
    background: -o-radial-gradient(at top, transparent 0%, black 100%);
    background: radial-gradient(at top, transparent 0%, black 100%);
  }

  .heading-text {
    line-height: 24px;
  }

  .header-red,
  .header-white {
    font-size: 2.5rem;
  }

  .header-icon {
    font-size: 2rem;
  }

  /* Navbar */

  #navbarNavDropdown ul {
    position: absolute;
    right: 0;
  }

  .navbar-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navbar-nav .nav-item .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
  }

  /* Push Brand to center of page on mobile devices */
  .navbar-brand {
    margin-left: 65px;
  }

  /* Dropdown Transition */
  /* https://stackoverflow.com/questions/12115833/adding-a-slide-effect-to-bootstrap-dropdown */

  .navbar-collapse .navbar-nav {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-collapse.show .navbar-nav {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
  }

  /* Index Page */

  .main-features {
    padding-top: 35px;
  }

  .main-features h1 {
    font-size: 1.5rem;
  }

  .main-pitch h2 {
    font-size: 1rem;
  }

  /* About Page */

  .about-heading {
    padding-top: 35px;
    padding-bottom: 10px;
  }

  .about-heading h1 {
    font-size: 1.5em;
  }

  .enquire-heading h1 {
    font-size: 1.5em;
  }

  .about-text p {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  .about-section {
    padding-bottom: 0;
  }

  .about-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* Enquire Page */

  .enquire-heading {
    padding-top: 35px;
  }

  .price-table-heading {
    padding-top: 35px;
  }

  /* Enquire Form */

  /* Allow all 3 peripherals to fit on one line in mobile view */

  .form-check-inline {
    margin-right: 0.5rem;
  }

  .peripherals-options {
    padding: 0;
  }

  /*Modal Enquiry*/

  .price-table-modal .table th {
    font-size: 0.7em;
  }

  /* Footer */

  .socials i {
    font-size: 1.5em;
    padding-left: 6px;
    padding-right: 6px;
  }

  .socials-pair-one,
  .socials-pair-two {
    display: block;
  }

  .socials-pair-one {
    margin-bottom: 8px;
  }

  /* Radial gradient (centre transparent, outer black) */
  /* https://www.quirksmode.org/css/images/position.html */

  .footer-gradient {
    background: -o-radial-gradient(at bottom, transparent 0%, black 90%);
    background: radial-gradient(at bottom, transparent 0%, black 90%);
  }
}

/***********  /Mobile View */

/***********  Tablet View */

@media only screen and (min-width: 992px) {
  /* Index Page */
  .lower-screen .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .main-pitch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .main-pitch h2 {
    font-size: 1.75rem;
  }

  .hero-image {
    padding-bottom: 0px;
  }

  /* About Page */

  .about-text p {
    font-size: 1rem;
  }

  /* Enquiry Page */

  .peripherals-options {
    padding-right: 0;
  }
}

/***********  /Tablet View */

/***********  Desktop View */

@media only screen and (min-width: 1200px) {
  /* Footer */
  .personal-logo {
    font-size: 1.2em;
  }

  .socials i {
    font-size: 1.8em;
  }

  /* Buttons */
  .glass-button {
    font-size: 1.3em;
  }

  /* About Page */

  .about-text p {
    font-size: 1.1rem;
  }

  .peripherals-options {
    padding-right: 15px;
  }
}
/***********  /Desktop View */

/***********  Large Desktop View */

@media only screen and (min-width: 1400px) {
  /* Index page */
  .main-features h1 {
    font-size: 2.5rem;
  }

  .main-pitch h2 {
    font-size: 2rem;
  }

  /* About Page  */
  .about-text p {
    font-size: 1.2rem;
  }
}

/***********  /Large Desktop View */
